body{
    font-family: 'dance', serif;
    background-color: white;  }



header {
    text-align: center;
    font-size: 40px;
    padding: 10px 10px 10px 10px;
    }

.cake-wrap {
    width: 400px;
    margin: 20px 15px;
    background: white;
    padding:15px;
    text-align: center;
    font-size: 28px;
    border: solid;
    border-color: black;
    font-family: 'dance',
    }

.cake {
    position: relative;
    overflow: hidden; }

.cake img {
    width: 300px;
    height: 400px;
    }

 .product-price {
    font-size: 28px;
    color: pink;
    font-weight: 700;
 }

.cake-title a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    margin: 15px 0 5px;
    padding-bottom: 7px;
     padding-top: 7px;
    display: block;
    position: relative;
    }


a {
    text-decoration: none;
  }
  a:link {
    color: black;

  }
  a:visited {
    color: black;
     text-decoration: underline;
  }
  a:active {
      color:gray
      text-decoration: underline;
  }

footer {
    text-align: center;
    font-size: 30px;
    padding: 5px 5px 5px 5px;
    border:  solid black;
    }
